<div ng-controller="consultaInsumoController" class="ui basic segment" >
	<h1>Insumos</h1>
	<div class="ui grid" >
		<div class="sixteen wide mobile twelve wide computer twelve wide tablet column" >
			 <div ng-class="{ 'loading' : tabelaInsumosLoading }"
			 	class="ui raised segment">

  					<h3>Filtro</h3>
  					<div class="ui divider" ></div>
  					<div class="ui grid form" >
	  					<div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column" >
							<div class="field">
							    <label>Nome/Descrição</label>
							    <input type="text" ng-model="filtroPesquisa.nomeOrDescricao" />
							  </div>
	  					</div>
	  					<div class="sixteen wide mobile four wide computer four wide tablet column" >
							<div class="field">
							    <label>Quantidade Min.</label>
							    <input type="text" ng-model="filtroPesquisa.quantidadeMin"  ui-number-mask />
							  </div>
	  					</div>
	  					<div class="sixteen wide mobile four wide computer four wide tablet column" >
							<div class="field">
							    <label>Quantidade Máx.</label>
							    <input type="text" ng-model="filtroPesquisa.quantidadeMax" ui-number-mask />
							  </div>
	  					</div>
	  					<div class="sixteen wide mobile four wide computer four wide tablet column" >
							<div class="field">
							  <label>Medida *</label>

							<div>
								<select id="medidaSelection"
									class="ui fluid dropdown"
									ng-model="filtroPesquisa.medida"
									value-resettable>
						          <option value="" >Todas</option>
					              <option ng-repeat="medida in medidas"
					              	class="item"
										value="{{medida.abreviacao}}">
					              		{{medida.abreviacao}} ({{medida.descricao}})
					              </option>
						      </select>
							</div>
							  </div>
	  					</div>
	  					<div class="text-align-right sixteen wide column">
									<button ng-click="limparFiltroPesquisa()" class="ui button">Limpar</button>
									<btn-pesquisar pesquisa-action="pesquisar()"></btn-pesquisar>

						</div>
  					</div>

  					<div class="ui hidden divider"></div>
  					<div class="ui divider"></div>
					<div class="text-align-right">
							<a ui-sref="cadastro-insumo"
								data-tooltip="Adicionar Insumo"
								data-position="top center"
								data-inverted="">
								<md-icon ng-style="{color: 'green'}">add_box</md-icon>
							</a>
					</div>
					<table class="ui selectable celled table">
						<thead>
							<tr>
								<th class="one wide">ID</th>
								<th class="two wide">Nome</th>
								<th class="eight wide">Descrição</th>
								<th class="two wide">Quantidade</th>
								<th class="two wide">Medida</th>
								<th class="one wide">Opções</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="insumosPage.totalElements === 0"
								class="ui negative" >
								<td colspan="6" >
									Nenhum registro encontrado
								</td>
							</tr>
							<tr ng-if="insumosPage.totalElements > 0"
								ng-repeat="insumo in insumosPage.content track by insumo.id">
								<td>{{insumo.id}}</td>
								<td>{{insumo.nome}}</td>
								<td>{{insumo.descricao}}</td>
								<td>{{insumo.quantidade | brDecimalNumber}}</td>
								<td>{{insumo.medida.abreviacao}} ({{insumo.medida.descricao}})</td>
								<td>
									<div>
										<md-fab-speed-dial md-open="false"
											md-direction="left"
											class="md-scale"
											style="height: 50px;">

											<md-fab-trigger>
												<md-button aria-label="menu" class="md-icon-button md-primary md-mini">
													<md-icon>menu</md-icon>
												</md-button>
											</md-fab-trigger>

											<md-fab-actions style="position: absolute;right: 50px;">
												<md-button aria-label="Facebook" class="md-fab md-raised md-mini md-whiteframe-25dp">
													<a ui-sref="cadastro-insumo({idInsumo: {{insumo.id}}})">
														<md-icon class="md-orange">border_color</md-icon>
													</a>
												</md-button>
												<md-button class="md-fab md-raised md-mini">
													<a	href=""
													ng-click="setInsumoExclusao(insumo)"
													modal-confirmacao-opener
													target-modal-id="'#modalConfirmacao'"
													class="ui btnExcluir">
													<i class="material-icons md-red" >cancel</i>
												</a>
												</md-button>
											</md-fab-actions>
										</md-fab-speed-dial>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr ng-if="insumosPage.totalPages > 1" >
								<th colspan="6">
									<div class="ui pagination menu font-12">

										  <a ng-click="findAllInsumosPage(insumosPage.number-1)" class="icon item">
								          <i class="left chevron icon"></i>
								        </a>

								        <a ng-repeat="pagina in getPages(insumosPage.totalPages) track by $index"
								        	ng-click="findAllInsumosPage($index)"
								        	ng-class=" $index == produtosPage.number ? 'active' : ''"
								        	class="item">
												{{$index + 1}}
										</a>

										<a ng-click="findAllInsumosPage(insumosPage.number+1)" class="icon item">
											<i class="right chevron icon"></i>
										</a>

							      </div>
								</th>
							</tr>
						</tfoot>
					</table>
					<div class="ui grid" >
						<div class="sixteen wide column" >
							<a ng-href="pdf/test" >
								<img class="ui mini image" style="float: right"  src="img/pdfIcon.png">
							</a>
						</div>
					</div>
  				</div>
		</div>
	</div>

	<modal-confirmacao
		id="modalConfirmacao"
		mensagem="'Tem certeza que deseja excluir o registro?'"
		on-click-yes="del()">
	</modal-confirmacao>

</div>
